# Ignore Unity files:
unity_game/emotional_adventure/Temp/
unity_game/emotional_adventure/Library/
unity_game/emotional_adventure/Logs/
unity_game/emotional_adventure/UserSettings/

*.unitypackage
*.aab
*.apk
*.app

# Ignore Restore files:
unity_game/emotional_adventure/ExportedObj/
unity_game/emotional_adventure/obj/

*.csproj
*.sln

*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.tmp